.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
data107
data113
Rplots.pdf
/electron/dist/*
/electron/node_modules/*
/electron/electron/*
/node_modules
/data113/*
/electron/scripts/*.log
/electron/scripts/r-linux/
/electron/scripts/r-mac/
/electron/runtime/
.devcontainer/*/.env